
/* AsientosMapa.css */
.bus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* transform: rotate(-90deg); */
}

.seats {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Ajusta según tu diseño */
  gap: 10px;
}

.seat {
  width: 30px;
  height: 30px;
  background-color: #9acd32; /* Color verde para asientos disponibles */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.seat.unavailable {
  background-color: #d3d3d3; /* Color gris para asientos no disponibles */
  cursor: not-allowed;
}

.seat.selected {
  background-color: #ff6347; /* Color rojo para asientos seleccionados */
}

/* Añade estilos para .driver-seat y .bathroom-seats si es necesario */
